<!DOCTYPE html>
<head>
    <title><%= title %></title>
</head>
<body>
    <form method="post" action="/newDeveloper">
        <p>
            <label for="developerName">Developers's name: </label>
            <input type="text" id="developerName" name="developerName">
        </p>
        <button type="submit">Add Developer</button>
    </form>
</body>
</html>