<!DOCTYPE html>
<head>
    <title><%= title %></title>
</head>
<body>
    <h1><%= title %></h1>
    <a href="/">Games List</a>
    <a href="/developersList">Developers List</a>
    <p><a href="/newGenre">Add new genre</a></p>
    <ul>
        <% genres.forEach((genre) => { %> <%- include('genre', { genre: genre }) %> <% }); %>
    </ul>
</body>
</html>