<!DOCTYPE html>
<head>
    <title><%= title %></title>
</head>
<body>
    <form method="post" action="/newGenre">
        <p>
            <label for="genreName">Game's name: </label>
            <input type="text" id="genreName" name="genreName">
        </p>
        <button type="submit">Add Genre</button>
    </form>
</body>
</html>