<!DOCTYPE html>
<head>
    <title><%= title %></title>
</head>
<body>
    <h1><%= title %></h1>
    <a href="/genresList">Genre List</a>
    <a href="/developersList">Developers List</a>
    <p><a href="/newGame">Add new game</a></p>
    <ul>
        <% games.forEach((game) => { %> <%- include('game', { game: game }) %> <% }); %>
    </ul>
</body>
</html>